{% extends 'main.html' %}

{% block content %}

    <h1>Accounts Page</h1>
    <hr>
    <table>
        <tr>
            <th>User</th>
            <th>Account Number</th>
            <th>Type</th>
            <th>Bank Location</th>
            <th></th>
        </tr>
        {% for account in accounts %}
            <tr>
                <td>{{ account.user }}</td>
                <td>{{ account.account_number }}</td>
                <td>{{ account.account_type }}</td>
                <td>{{ account.street_name }}</td>
                <td> <a href="{% url 'account' account.id %}">View</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}