{% extends 'main.html' %}

{% block content %}

    <h1>Profiles Page</h1>
    <hr>
    <table>
        <tr>
            <th>User</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Apt</th>
        </tr>
        {% for profile in profiles %}
            <tr>
                <td>{{ profile.user }}</td>
                <td>{{ profile.Customer_First_Name }}</td>
                <td>{{ profile.Customer_Last_Name }}</td>
                <td>{{ profile.Customer_Email }}</td>
                <td>{{ profile.customer_apartment_number }}</td>
                <td> <a href="{% url 'delete_profile' profile.id %}">Delete</a></td>
                <td> <a href="{% url 'update_profile' profile.id %}">Edit</a></td>
                <td> <a href="{% url 'profile' profile.id %}">View</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}